@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #0000FF;
}

#column-2 {
  background: #8A2BE2;
}

#column-3 {
  background: #A52A2A;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
    header {
    background-color: #7FFF00;
  }

  #column-1 {
    background-color: #FF7F50;
  }

  #column-2 {
    background-color: #8B008B;
  }

  #column-3 {
    background-color: #FF1493;
    width: 100%;
  }

  footer {
    background-color: #00BFFF;
  }

  .col-3 {
    width: 50%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #F0E68C;
  }

  #column-1 {
    background-color: #E6E6FA;
  }

  #column-2 {
    background-color: #ADD8E6;
  }

  #column-3 {
    background-color: #E0FFFF;
    width: 33.3%;
  }

  footer {
    background-color: #FFB6C1;
  }

  .col-3 {
    width: 33.3%;
  }
   
}
